<div>
  <div class="bg-gray-200 p-5">
    <div [nzGutter]="8" nz-row>
      <div [nzSpan]="8" nz-col>
        <nz-card nzTitle="Users">
          <p>0</p>
        </nz-card>
      </div>
      <div [nzSpan]="8" nz-col>
        <nz-card nzTitle="Groups">
          <p>0</p>
        </nz-card>
      </div>
      <div [nzSpan]="8" nz-col>
        <nz-card nzTitle="Workflows">
          <p>0</p>
        </nz-card>
      </div>
    </div>
    <div [nzGutter]="8" nz-row class="mt-5">
      <div [nzSpan]="8" nz-col>
        <nz-card nzTitle="Documents">
          <p>0</p>
        </nz-card>
      </div>
      <div [nzSpan]="8" nz-col>
        <nz-card nzTitle="Staff">
          <p>0</p>
        </nz-card>
      </div>
      <div [nzSpan]="8" nz-col>
        <nz-card nzTitle="Students">
          <p>0</p>
        </nz-card>
      </div>
    </div>
  </div>
</div>
