<div class="send-request flex flex-row justify-between">
  <div>
    <button
      (click)="sendRequest()"
      [disabled]="setOfCheckedId.size === 0"
      [nzLoading]="loading"
      nz-button
      nzType="default"
    >
      Send Request
    </button>
    <span>Selected {{ setOfCheckedId.size }} items</span>
  </div>
  <button (click)="showModal()" class="flex flex-row items-center" nz-button nzType="primary">
    <span nz-icon nzTheme="outline" nzType="plus"></span>
    Add Group
  </button>
</div>
<nz-table
  #rowSelectionTable
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  [nzData]="listOfData"
  nzShowPagination
  nzShowSizeChanger
>
  <thead>
  <tr>
    <th (nzCheckedChange)="onAllChecked($event)" [nzChecked]="checked" [nzIndeterminate]="indeterminate"></th>
    <th>Name</th>
    <th>Count</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td
      (nzCheckedChange)="onItemChecked(data.id, $event)"
      [nzChecked]="setOfCheckedId.has(data.id)"
      [nzDisabled]="data.disabled"
    ></td>
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>
      <button (click)="editGroup(data)" nz-button nzType="primary">Edit</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button (click)="deleteGroup(data)" [nzLoading]="isDeleting && group.id === data.id" nz-button nzDanger
              nzType="primary">Delete
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [(nzVisible)]="isVisible"
  [nzOkLoading]="isOkLoading"
  nzTitle="Create A Group"
>
  <form *nzModalContent [formGroup]="validateForm" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="name" nzRequired>Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please input the group name!">
        <input formControlName="name" id="name" nz-input nzSize="default" type="text"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
